[client]
default-character-set=utf8

[mysqld]
slow_query_log=1
long_query_time=.3

default_storage_engine=InnoDB
innodb_log_file_size=384M
max_allowed_packet=384M
net_read_timeout = 120
net_write_timeout = 900
innodb_buffer_pool_size=1024M
character-set-server = utf8
collation-server = utf8_general_ci

# performance settings for local development only
innodb_flush_log_at_trx_commit=0
innodb_flush_method=O_DIRECT
innodb_file_format=barracuda
innodb_doublewrite=0

query-cache-type = 1
query-cache-size = 8M